<template name="AwsPricing">
  <section class="content-header">
    <h1>Amazon Web Services <small>JSON Pricing</small></h1>
    <ol class="breadcrumb">
      <li>
        <a href="{{pathFor 'awsPricing'}}"><i class="fa fa-amazon"></i> Amazon Web Services</a>
      </li>
      <li class="active">JSON Pricing</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">

          <div class="box-body pad table-responsive">
            <p>Ao clicar no botão, os serviços disponíveis serão atualizados.<br>
            Clique neste <a href="https://pricing.us-east-1.amazonaws.com/offers/v1.0/aws/index.json">link</a> para baixar em sua máquina o arquivo JSON disponibilizado pela AWS.</p>
            <button type="button" class="btn btn-block btn-primary"
              id="awsJSON">
              Atualizar Serviços AWS Pricing
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Serviços AWS</h3>
          </div>
          <div class="box-body no-padding">
            <table class="table table-stripped">
              <tbody>
                <tr>
                  <th>Data de Importação</th>
                  <th>Publicação AWS</th>
                  <th>Serviços Disponíveis</th>
                  <th>Ações</th>
                </tr>
                {{#each pricing}}
                <tr>
                  <td>{{formatDate createdAt 'DD/MM/YYYY'}}</td>
                  <td>{{formatDate publicationDate 'DD/MM/YYYY'}}</td>
                  <td>{{offers}}</td>
                  <td>
                    <a href="{{pathFor 'awsServices' _id=this._id}}" class="btn btn-block btn-info">
                      Detalhes
                    </a>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
