<template name="Sidebar">
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MULTI CLOUD CALCULATOR</li>
        <li class="active">
          <a href="pages/widgets.html">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="pages/widgets.html">
            <i class="fa fa-archive"></i> <span>SKY Boxes</span>
          </a>
        </li>
        <li>
          <a href="{{pathFor 'awsPricing'}}">
            <i class="fa fa-amazon"></i> <span>Amazon Web Services</span>
          </a>
        </li>
        <li>
          <a href="pages/widgets.html">
            <i class="fa fa-calculator"></i> <span>Propostas</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>
